body{
	margin: 0;
	font-family: helvetica, arail, sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: deeppink;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}

h1, h2{
	font-family: 'Quicksand', sans-serif;
}

header h1{
	color: white;
	font-size: 50px;
}

header img{
	border-radius: 500px;
    width: 200px;
    position: relative;
    border: 5px solid white;
}



main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 35px;
	color: deeppink;
	margin: 40px 0px 10px;
}

a{
	color: hotpink;
}

a:hover{
	color: white;
	background-color: red;
}

footer{
	background-color: deeppink;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}
footer a:hover{
	opacity: .5;
	background-color: transparent;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0px;
}



